.aboutTeam{
	background: $color-gray-mid;
	overflow: hidden;
	padding-top: 70px;
	position: relative;
	
	&-lineas{
		background-image: url('img/lineas-fondo-gris.svg');
		background-position: top;
		background-repeat: repeat-x;
		position: absolute;
		left: 0;
		top: 0;
		height: 19px;
		width: 100%;
		opacity: 1;
		pointer-events: none;
	}

	&-title{
		font-weight: bold;
		font-size: 40px;
		color: $color-gray-dark;
		text-align: center;
		padding-bottom: 65px;
	}

	&--grid{
		overflow: hidden;
		margin: 0 -15px;
		position: relative;
	}

	&-item{
		width: 25%;
		float: left;
		overflow: hidden;
		padding:  15px;
		box-sizing: border-box;

		&--focus{

			&--int{
				position: relative;
				border-radius: 10px;
				height: 310px;
				position: relative;
				width: 100%;
				overflow: hidden;
				border-bottom: 4px solid $color-gray-btn-borde;

				&--image{
					

					&--img{
						right: 50%;
						position: absolute;
						transform: translateX(50%);
						//z-index: -1;
					}
				}

				&--info{
					background: $color-blue;
					position: relative;
					height: 100%;
					color: $color-white;
					opacity: 0;
					padding: 30px;
					box-sizing: border-box;
					transition: all .5s;

					&--txt{
						line-height: 18px;
						font-style: italic;
						font-size: 13px;
					}

					&--socials{
						padding-top: 13%;

						&--social{
							float: left;
							//display: table-cell;
							text-align: center;
							padding: 5px;
							box-sizing: border-box;

							a{
								display: block;
								line-height: 40px;
								width: 40px;
								height: 40px;
								border-radius: $border-radius;
								display: block;
								background: $color-blue-social;
							}
						}
					}
				}
				
			}

			&--person{
				position: relative;
				margin-top: -22px;

				&--link{
					font-weight: 600;
					width: 80%;
					text-align: center;
					font-size: 14px;
					margin: 0 auto;
					display: table;
					@extend .btn;
					background: $color-gray-btn;
					border-bottom-color: $color-gray-dark;
					@extend .btn-red;
					line-height: 50px;
				}
			}

			&:hover .aboutTeam-item--focus--int--info{
				opacity: 1;
			}
		}
	}
	&:before{
		content:'';
		position: absolute;
		height: 124px;
		width: 100%;
		background: $color-gray-light;
		bottom: 0;
		left: 0;
	}
}