.aboutUs{
	background: $color-gray-light;
	

	&--top{
		line-height: 80px;
		//overflow: auto;
		background: $color-gray-mid;
		position: relative;

		&--title{
			font-size: 20px;
			color: $color-gray-dark;
			float: left;
			position: relative;
			&:before{
				content: '';
				position: absolute;
				width: 0; 
		 		height: 0; 
		 		border-left: 12px solid transparent; 
		 		border-top: 12px solid $color-gray-mid;
		 		border-right: 12px solid transparent; 
		 		bottom: -12px;
		 		left: 2px;
			}
		}

		&--breadcrumbs{
			font-size: 12px;
			color: $color-gray-dark;
			float: right;
			display: table;
			
			a{
				color: $color-gray-dark;
			}
			p{
				display: table-cell;
				text-transform: lowercase;
			}
			p:first-letter{
				text-transform: uppercase;
			}
		}

		
		&:after{
			clear: both;
			content: "";
			display: block;
		}
		
	}

	
	&--int{
		padding-top: 45px;
		position: relative;

		&--title{
			font-size: 30px;
			color: $color-red-light;
		}
		&--txt{
			margin-top: 15px;
			font-size: 14px;
			color: $color-gray-dark;
			line-height: 20px;
		}
		
	}

	
	
}