.container{
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}
.container-hidden{
	overflow: hidden;
}


.btn{
	border-bottom-width: 4px;
	border-style: solid;
	border-radius: $border-radius;
	transition: all .5s;
}
.btn:hover{
	background: $color-red-mid;
	border-bottom-color: $color-red-light;
}

.footerTop--info--logo{
	color: #fff;
	font-weight: 800;
	font-size: 2rem;

	span{
		font-weight: normal;
		font-size: 1.5rem;
	}
}

.btn-padding{
	padding: 0px 45px;
}

.btn-red{
	background: $color-red-mid;
	border-radius: $border-radius;
}
.btn-gray{
	background: #98a3a3;
}

a{
	color: #fff;
	text-decoration: none;
}

body{
	font-family: 'open-sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
}

