.bestSolution{
	background: $color-gray-light;
	text-align: center;
	padding-top: 90px;

	&--title{
		font-size: 40px;
		color: $color-red-light;
		font-weight: 300;
	}

	&--txt{
		padding: 0 100px;
		font-size: 13px;
		color: $color-gray-dark-txt;
		margin-top: 25px;
		line-height: 20px;
	}
}