.blog{

	.blogMultimedia{

		&-content{
			

			&-image{
				width: 300px;
				height: 150px;
				position: relative;

				&--img{
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
				}
			}

			&-int{
				
				&--link{
					color: #202020;
				}
			}
		}
	}
}