.blogSingle{

	color: $color-gray-dark;

	&-info{
		font-size: 25px;
		font-weight: bold;
		line-height: 60px;
	}

	&-content{

		&-image{
			width: 100%;
			height: 400px;
			position: relative;
			overflow: hidden;

			&--img{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 110%;
				height: auto;
			}
		}

		&-int{

			&-project{

				&-texto{
					margin-top: 25px;
					font-size: 14px;
					line-height: 18px;
				}
				&-textoresaltado{
					border-left: 5px solid $color-gray-dark;
					padding-left: 25px;
					padding-right: 25px;
					margin-left: 70px;
					margin-top: 25px;
					line-height: 19px;
					font-size: 14px;
					margin-bottom: 45px;
				}
			}
		}
	}

}