$footer--line-height: 40px;
$footer--mb: 25px;

.footer{
	position: relative;

	&-lineas{
		background-image: url('img/lineas-fondo-blanco.svg');
		background-position: top;
		background-repeat: repeat-x;
		position: absolute;
		left: 0;
		top: 0;
		height: 19px;
		width: 100%;
		pointer-events: none;
		opacity: 0.2;
	}

	.footerTop{
		padding-top: 52px;
		padding-bottom: 40px;
		font-size: 13px;
		color: $color-white;
		background: $color-blue;
		overflow: hidden;

		&--col1, &--col2, &--col3, &--col4{
			float: left;
			padding-right: 30px;
			box-sizing: border-box;
		}
		&--col1{
			width: percentage(400/1170);
		}
		&--col2{
			width: percentage(200/1170);
		}
		&--col3{
			width: percentage(200/1170);
		}
		&--col4{
			width: percentage(370/1170);
		}

		&--info{
			
			&--logo{
				line-height: $footer--line-height;
				margin-bottom: $footer--mb;
			}

			&--txt{
				margin-bottom: 30px;
			}

			&--contact{
				

				&--int{
					margin-bottom: 5px;
					&--name{
						float: left;
					}
					&--info{
						font-style: italic;
						font-weight: 600;
						font-size: 20px;
						margin-left: 18px;
					}
				}
			}
		}

		&--list{

			&--title{
				line-height: $footer--line-height;
				margin-bottom: $footer--mb;
				color: $color-blue-dark-txt;
				font-size: 20px;
				font-weight: 800;
			}
			&--int{
				padding-left: 25px;

				&--info{
						margin-bottom: 14px;
					&--txt{
						

						&--ico{
							margin-right: 10px;
						}
					}
				}
			}
		}

		&--blog{
			color: $color-white;

			&--title{
				line-height: $footer--line-height;
				margin-bottom: $footer--mb;
				font-size: 20px;
				font-style: italic;
				
				&--bold{
					font-weight: 800;
					font-style: normal;
				}
			}

			&--cont{

				&--int{
					display: table;
					margin-bottom: 20px;

					&--img{
						width: 70px;
						height: 70px;
						overflow: hidden;
						float: left;
						border-radius: $border-radius;
						margin-right: 20px;

						&--image{
							height: 100%;
						}
					}
					&--info{
						font-size: 13px;
						&--desc{
							line-height: 15px;
						}
						&--date{
							color: $color-blue-dark-txt;
							margin-top: 10px;
						}
					}
				}
			}
		}
	}

	.footerDown{
		line-height: 50px;
		background: $color-blue-light;
		color: $color-white;
		overflow: hidden;

		&--copy{
			float: left;

			&--txt{

			}
		}

		&--redes{
			float: right;

			&--int{
	
				&--social{
					margin-left: 15px;
					float: left;

					a{

						i{
							font-size: 20px;
						}
					}
				}

			}
		}
	}
	
}
