.homeSlider{
	height: 500px;
	position: relative;
	z-index: 1;
	

	&-content{
		

		.slick-list{
			height: 500px;
			width: 100%;
			z-index: -1;
		}
	}
	&-int{
		position: relative;
		display: block !important;
		height: 500px;

		&-img{
			position: absolute;
			z-index: -1;
		}
		&-content{
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);

			&-vert{
				// width: 100%;
				// height: 500px;
				// display: table-cell;
				// vertical-align: middle;

				&-titulo{
					color: $color-white;
					border-radius: $border-radius;
					padding: 2px 5px;
					//display: inline-block;
					text-align: center;
					font-weight: bold;
					margin: 0 auto;
					display: table;
					font-size: 50px;
					background: $color-red-light;
				}
				&-txt{
					display: table;
					padding: 10px;
					line-height: 22px;
					color: #fff;
					font-size: 16px;
					border-radius: $border-radius;
					margin-top: 10px;
					width: 470px;
					background: $color-text;
					text-align: center;
				}
			}
		}
	}
	.slick-prev{
		left: 0;
		width: 50px;
		height: 57px;
		border-bottom-color: $color-red-light;
		@extend .btn;
		@extend .btn-red;
	}
	.slick-next{
		border-bottom-color: $color-red-light;
		width: 50px;
		height: 57px;
		@extend .btn;
		@extend .btn-red;
		right: 0;
	}
	.slick-prev:before{
		content: "\f323" !important;
	}
	.slick-next:before{
		content: "\f101" !important;
	}
	.slick-prev:before, .slick-next:before{
		font-family: 'Font Awesome 5 Pro';
	}


	.slick-dots{
		bottom: -28px;

		li{
			width: 60px;
			height: 5px;
			overflow: hidden;
			button{
				width: 100%;
				height: 100%;
				background: $color-gray;
			}
		}
		.slick-active{

			button{
				background: $color-red-light;
			}

		}
	}
}
