.homeWhy{
	//background: $color-gray-mid;
	text-align: center;
	color: $color-white;
	padding-top: 70px;
	position: relative;

	&-lineas{
		background-image: url('img/lineas-fondo-gris.svg');
		background-position: top;
		background-repeat: repeat-x;
		position: absolute;
		left: 0;
		top: 0;
		height: 19px;
		width: 100%;
		pointer-events: none;
	}


	&:before{
		content:'';
		height: 50%;
		background: $color-gray-mid;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}

	&_title{
		color: $color-red-light;
		font-size: 40px;
		font-weight: 600;
		margin-bottom: 15px;
	}

	&_txt{
		color: $color-gray-dark;
		font-size: 13px;
	}

	&_content{
		position: relative;
		display: table;
		width: 100%;
		height: 360px;
		margin-top: 66px;
	}
	&--bg{
		position: relative;
		margin-top: 65px;
	}
	&--bg:before{
		content:'';
		height: 50%;
		background: $color-gray-mid;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	&--bg:after{
		content:'';
		height: 50%;
		background: $color-gray-light;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -1;
	}
	.prueba{
		display: table-cell;
		vertical-align: middle;
	}
	&_photo{
		background: $color-gray;
		border-radius: 10px;
		padding: 12px 5px 5px 5px;
		position: relative;
		box-sizing: border-box;
		
		&--lf, &--rg{
			width: percentage(740/1170);
		}

		&--lf{
			float: left;
		}

		&--center{
			width: percentage(570/1170);
			position: absolute;
			top: 0px;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
			z-index: 99;
		}

		&--rg{
			float: right;
		}



		&--iconos{
			overflow: hidden;
			margin-bottom: 12px;
			margin-left: 5px;

			&--circle{
				float: left;

				i{
					cursor: pointer;
					margin-right: 5px;
					font-size: 13px;
				}
			}
			&--line{
				float: right;
				margin-right: 10px;
			}
		}
		
		.homeWhy_photo--image{
			margin: 0;
			width: 100%;
			position: relative;
			padding-top: 213px;
			overflow: hidden;
			border-radius: 10px;
			z-index: 3;

			&-img{
				//height: 100%;
				position: absolute !important;
				left: 0;
				top: 0;
			}
		}
		.homeWhy_photo--image--center{
			padding-top: 307px;
		}
		
	}


}