.homeWhychoose{
	background: $color-gray-light;
	padding-top: 57px;
	overflow: hidden;
	
	&--info, &--graphics, &--testimonios{
		float: left;
	}

	&--info{
		width: percentage(300/1170);

		&--title{
			color: $color-gray-dark-txt;
			font-size: 1rem;
			font-weight: 800;
		}

		&--content{

			&--txt{
				border-radius: 10px;
				color: $color-gray-dark-txt;
				font-size: 13px;
				margin-top: 15px;

				i{
					color: $color-red-light;
					margin-right: 6px;
				}
			}
		}
	}

	&--graphics{
		width: percentage(570/1170);

		&--txt{
			font-size: 13px;
			line-height: 22px;
			padding: 0px 20px;
			color: $color-gray-dark-txt;
		}

		&--barras{
			display: table;
			margin-left: auto;
			margin-right: auto;
			margin-top: 35px;

			&--int{
				width: percentage(142.5/570);
				display: block;
				float: left;
				box-sizing: border-box;
				padding: 10px;

				&--circle{
					background: linear-gradient(0deg, $color-red-light 50%, rgba($color-blue, 1) 50%);
					margin: auto;
					position: relative;
					float: left;
					

					&, &:before, &:after{
						text-transform: uppercase;
						font-weight: 800;
						color: $color-gray-dark;
						font-family: 'open-sans', sans-serif;
						width: 120px;
						height: 120px;
						border-radius: 50%;
					}
					&:before, &:after{
						background: #f3f3f3 content-box;
						position: absolute;
						top: 0px;
						left: 0px;
						text-align: center;
					}
					&:before{
						padding: .5em;
						box-sizing: border-box;
						font-size:1.4rem;
						line-height: 3.9rem;
						background:$color-gray-light content-box;
						
						//content: "#{$percent}%";
						//background: $bgcolor content-box;
						//transform: rotate(-#{$progress});
						font-size: 2rem;
						
					}
					&:after{
						line-height: 10.5rem;
						
					    background: linear-gradient(transparent 50%, $color-gray-light 50%);
						
					}
				}
			}

			
		}
	}

	&--testimonios{
		width: percentage(300/1170);
		color: $color-gray-dark-txt;
		padding-left: 30px;
		box-sizing: border-box;

		&--title{
			margin-bottom: 27px;
			font-weight: 800;
		}
		&--slider{


			&--content{
				width: 100%;

				&--txt{
					background: $color-white;
					padding: 15px 18px;
					box-sizing: border-box;
					border-radius: 10px;
					width: 100%;
					font-size: 13px;
					font-style: italic;
					line-height: 21px;
					position: relative;

					&:after{
						content:'';
						//width: 100px; 
						//height: 100px; 
						border-left: 30px solid transparent;
						//border-right: 50px solid transparent;
						//border-bottom: 50px solid transparent;
						border-top: 30px solid white;
						top: 100%;
						left: 20px;
						position: absolute;
					}
				}
				&--title{
					margin-top: 10px;
					padding-left: 65px;
					font-weight: 600;
				}
			}
		}
	}

	&--clients{
		background: $color-gray-light;
		padding-bottom: 35px;

		&--top{
			margin-top: 50px;
			display: table;

			
			&--int , &--in--controls{
				display: table-cell;
			}
			&--int{
				width: 100%;
				overflow: hidden;

				&--title, &--line{
					display: inline-block;
				}
				&--title{
					color: $color-gray-dark;
					font-size: 16px;
					font-weight: 800;
					//width: 170px;
					position: relative;
				}
				&--title:before{
					content:'';
					position: absolute;
					top: 50%;
					background: $color-gray;
					height: 10px;
					width: 10px;
					border-radius: 50%;
					top: 50%;
					margin-top: -5px;
					//right: 100;
					left: 110%;
				}
				&--title:after{
					content:'';
					position: absolute;
					top: 50%;
					background: $color-gray;
					height: 1px;
					width: 1000%;
					top: 50%;
					//right: 100;
					left: 110%;
				}
				&--line{
					width: calc(100% - 200px);
					vertical-align: middle;
					//height: 1px;
					//background: #000;

					&--int{
						width: 100%;
						height: 1px;
						background: red;
						//background: $color-gray-mid;
					}
				}
			}
			
			&--controls{
				width: 100px;
				padding-left: 20px;
				//float: right;

				&--arrows{
					padding: 10px;	
					width: 40px;
					box-sizing: border-box;
					text-align: center;
					@extend .btn-red;
					@extend .btn;
					border-bottom-color: $color-red-light;

					&:hover{
						border-bottom-color: $color-gray-dark-txt;
						background: $color-gray-dark;
					}
				}
				
				& a:last-child{
					float: right;
				}
			}

		}
		&--slider{
			background: none !important;
			margin: 25px 0px 0px -15px !important;
			width: calc(100% + 30px) !important;
		

			&--int{
				padding: 15px;
				color: #000;
				//float: left !important;
				//width: 369px !important;
				//overflow: hidden;
				//width: auto !important;
				//overflow: hidden;
				// position: relative;
				// overflow: hidden;

				&--image{
					//width: 100% !important;
					//height: auto !important;
				}
			}
		}
	}
	.prueba{
		//margin: 0px 0px 0px -15px !important;
		//width: calc(100% + 30px) !important;
	}
}

