.homeServices{
	background: $color-gray-light;
	overflow: hidden;
	padding-bottom: 55px;
	padding-top: 50px;
	//margin-top: 24px;
		
	&_top{
		padding: 28px;
		border-radius: $border-radius;
		background: $color-gray-mid;
		color: $color-gray-dark;
		overflow: hidden;

		&_in{
			float: left;
			width: calc(100% - 270px);
		}
		&__title{
			font-size: 2em;
			font-weight: 600;
		}
		&__txt{
			font-size: 13px;
			padding-top: 10px;
		}
		&__link{
			width: 270px;
			float: right;
			display: table;
			

			&--int{
				float: right;
				//margin-right: 35px;
				display: table;
				font-weight: 600;
				@extend .btn;
				@extend .btn-padding;
				line-height: 50px;
				background: $color-red-mid;
				border-bottom-color: $color-red-light;
			}
		}
	}





	&_in{
		margin-top: 27px;
		clear: left;
		overflow: hidden;
		margin-left: -15px;
		margin-right: -15px;
	}
	&_content{
		
		color: $color-gray-dark;
		text-align: center;
		width: calc(25% - 30px);
		float: left;
		margin-left: 15px;
		margin-right: 15px;
		
		&__int{
			padding-top: 3em;
			background: $color-white;
			border-radius: $border-radius;
			border-bottom: 3px solid #e5e6e6;
		}
		&__ico{
			font-size: 60px;
			color: $color-blue;
			margin-bottom: 16px;
		}
		&__title{
			font-size: 1em;
			font-weight: 800;
		}
		&__txt{
			line-height: 20px;
			padding-bottom: 3em;
			margin-top: 2em;
		}
		&__link{
			font-weight: 600;
			@extend .btn;
			@extend .btn-padding;
			background: $color-blue;
			border-color: $color-blue-mid;
			margin-top: 3em;
			line-height: 50px;
			display: table;
			margin: 0 auto;
			margin-top: -25px;
		}
		
	}


}