

header{
	background: $color-blue;
}

.headerLogo, .headerMenu{
	display: inline-block;
}

.headerVertical{
	display: table;
}
.headerVerticalalign{
	display: table-cell;
	vertical-align: middle;
	height: 80px;
}

.header{

	height: 80px;
	position: relative;
	//overflow: hidden;

	&-lineas{
		background-image: url('img/lineas-fondo.svg');
		background-position: bottom;
		background-repeat: repeat-x;
		position: absolute;
		left: 0;
		bottom: 0;
		height: 8px;
		width: 100%;
		opacity: 0.1;
		pointer-events: none;
	}
}



.headerLogo{
	@extend .footerTop--info--logo;	

	//width: 20%;
}
.headerMenu{
	float: right;
	//width: 80%;
	
	vertical-align: middle;

	&--search{
		display: table-cell;
		position: relative;

		&--ico{
			color: $color-white;
			@extend .btn;
			display: table;
			border-bottom-color: transparent;
			line-height: 30px;
			padding: 0 10px;
			margin-left: 20px;
			cursor: pointer;
			transition: .5s;
		}
		&--ico:hover{
			border-bottom-color: $color-red-light; 
			background: $color-red;
		}
		&--ico:hover .headerMenu--search--ico--int{
			display: block;

		}

		&--ico--int{
			position: absolute;
			right: 6px;
			z-index: 99;
			padding-top: 22px;
			//top: calc(100% + 5px);
			display: none;

			&--search{

				&--form{
					position: relative;
					
					.screen-reader-text{
						display: none;
					}
					&--field{
						padding-left: 10px;
						position: relative;
						border-radius: $border-radius;
						min-width: 190px;
						border: none;
						font-size: 14px;
						letter-spacing: 0.2px;
						line-height: 30px;
					}
					&--field:before{
						
					}
					&--submit{
						display: none;
					}
				}
				&--form:before{
					background: $color-red-light;
					content:'';
					border-radius: $border-radius;
					width: calc(100% + 7px);
					height: calc(100% + 20px);
					position: absolute;
					top: -10px;
					left: -5px;
				}
				&--form:after{
					content: '';
					position: absolute;
					width: 0; 
		     		height: 0; 
		     		border-left: 6px solid transparent; 
		     		border-bottom: 6px solid $color-red-light;
		     		border-right: 6px solid transparent; 
		     		top: calc(-100% - -6px);
		     		right: 10px;
				}
				
			}	
		}
	}
}

.menu{
	display: table-cell;
	//float: right;

	a{
		background: $color-blue;
		border-bottom: 4px solid $color-blue;
		border-radius: 5px;
		color: #fff;
		font-size: 13px;
		line-height: 30px;
		font-weight: 600;
		padding: 0 0.6em;
		display: table;
		transition: all .5s;
		box-sizing: border-box;
		margin-left: 10px;
		@extend .btn;
	}

	li:hover > ul.sub-menu{
		display: block;
		z-index: 99;
	}
	li:hover > a{
		background: $color-red;
		border-color: $color-red-light;
		
	}

	ul li{
		display: table-cell;

		.sub-menu{
			//background: $color-red-light;
			box-sizing: border-box;
			margin-left: 15px;
			//padding: 5px;
			padding-top: 17px;
			display: none;
			position: absolute;
			//display: none;
			z-index: 99;
		}
		.sub-menu:after{
			content: '';
			position: absolute;
			width: 100%;
			height: calc(100% - 15px);
			background: $color-red-light;
			bottom: -5px;
			left: -5px;
			border-radius: 5px;
			padding: 5px;
			z-index: -1;
		}
		.sub-menu:before{
			content: '';
			position: absolute;
			width: 0; 
     		height: 0; 
     		border-left: 6px solid transparent; 
     		border-bottom: 6px solid $color-red-light;
     		border-right: 6px solid transparent; 
     		top: 4px;
     		left: 2px;
		}

		ul li{
			display: table;
		}
		ul li a{
			background: $color-red;
			// @extend .btn;
			// border-color: green;
			margin-top: 5px;
			border-bottom: none;
			margin-left: 0;
			padding-left: 25px;
			padding-right: 10px;
		}
		ul li a:before{
			font-family: 'Font Awesome 5 Pro';
			content:'\f105';
			position: absolute;
			left: 10px;

		}
		ul li a:hover{
			background: $color-blue;
		}
		ul li a, ul li a:hover{
			//margin-left: 0;
		}
		ul li:first-child a{
			margin-top: 0;
		}
	}
}