$container-width : 1170px;
$bp-small-container : em(800,16);
$bp-xs-container : em(450);
$bp-mob-menu : em(1080,16); 
$bp-small-fonts : em(600);

$default-col-gap : em(30);

$color-white: #ffffff;


$color-text : #4c4d4f;
$color-text-light: #bcbcbe;
$color-dark : #231F20;

$color-red : #f58d76;
$color-red-dark : #dd6465;
$color-red-mid : #e8645a;
$color-red-light : #e2534b;

$color-blue: #76c7c0;
$color-blue-light: #6ab3ac;
$color-blue-mid: #62a29e;
$color-blue-dark: #528b86;



$color-blue-social: #81bcb6;
$color-blue-dark-txt: #497e79;

$color-gray: #c1c7c8;
$color-gray-light: #f3f3f3; 
$color-gray-mid: #ececec;
$color-gray-dark: #7f8c8c;
$color-gray-btn: #98a3a3;
$color-gray-btn-borde: #e5e6e6;

$color-gray-dark-txt: #777777;



$border-radius: 5px;





